
button{
    border: none;
    background: none;
    outline: none;
}

.inputIm-display-wrapper{
    margin: 1rem 0;
    padding:2rem;
    gap:3rem;
}


.search-bar{
    --size:35px;
    border: 2px solid var(--shine-green-dark);
    display: flex;
    align-items: center;
    border-radius: 5rem;
    height: var(--size);
    padding: 0.2rem;
    width: var(--size);
    position: relative;
    transition: width 300ms ease-in-out;
    overflow: hidden;
}

.search-input{
    flex-grow: 1;
    height: 100%;
    font-size: 1.6rem;
    padding: 0 0.5em;
    border: 0;
    background:transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity:0;
    cursor: pointer;
}

.search-input:focus{
    outline: 0;
    opacity: 1;
    cursor: initial;
}

.search-bar:focus-within{
    width:100%;
}

.search-bar .submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(var(--size) );
    height: calc(var(--size) );
    border-radius: 50%;
    margin-left: auto;
    background-color: var(--sky-blue);
    border: 1px solid var(--sky-blue);
    
}

.search-bar .submit-btn .search-icon{
  color:var(--pink8)
}

.input-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.input-label{
    padding-bottom: 0.6rem;
    outline: none;
}

.input-field{
    padding: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.6rem;
    outline: none;
    box-sizing: inherit;
    line-height: 1;
    border: 1px solid var(--greyDark);

}


.tabContent{
    padding: 2rem ;
    width: 30rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.input-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-input,.text-label{
    font-size: 1.8rem;
    font-weight: 500;
}

.text-input{
    margin-bottom: 1.6rem;
    border: none;
    height: 3rem;
}

.text-label{
    margin-bottom: 0.6rem;
}

.link-btn{
    color: var(--shine-green-dark);
}


.password-wrapper{
    justify-content: space-between;
    font-size: 1.6rem;
    display: flex;
}

.eye-icon{
    position: absolute;
    top: 72%;
    right: 0.8rem;
    color: var(--sky-blue);
    cursor: pointer;
}

.img-responsive{
    width: 100%;
    height: auto;
}