<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar-Badge</title>
    <link rel="stylesheet" href="../comp-imports.css">
    <link rel="stylesheet" href="input-image.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://kit.fontawesome.com/00e65d596a.js" crossorigin="anonymous"></script>

    <!-- highlight.js imports -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="../../../dracula.css">
</head>

<body>
    <div class="logo-head docs-head">
        <a href="/index.html"><img class="logo-header" src="../../../assets/phoenix-logo-3-removebg-preview.png"
                alt="logo"></a>
        <a href="/index.html">
            <h1 class="lib-name">wildFlower</h1>
        </a>
    </div>
    <nav class="library-nav">
        <h1 class="nav-h1">Getting Started</h1>
        <div class="usage comp-link"><a href="/pages/docs.html">Usage</a></div>
        <h1 class="nav-h1">Components</h1>
        <ul class="components-box">
            <li class="comp-link"><a href="/pages/components/Avatar-badge/avatar-badge.html">Avatar-Badge</a></li>
            <li class="comp-link"><a href="/pages/components/Alert/alert.html">Alert</a></li>
            <li class="comp-link"><a href="/pages/components/Button/button.html">Button</a></li>
            <li class="comp-link"><a href="/pages/components/Cards/cards.html">Cards</a></li>
            <li class="comp-link"><a href="/pages/components/Input-image/input-image.html">Image-Input</a></li>
            <li class="comp-link"><a href="/pages/components/Navigation/navigation.html">Navigation</a></li>
            <li class="comp-link"><a href="/pages/components/Chips/chips.html">Chips</a></li>
            <li class="comp-link"><a href="/pages/components/Tabs/tabs.html">Tabs</a></li>
            <li class="comp-link"><a href="/pages/components/Modal/modal.html">Modal</a></li>
            <li class="comp-link"><a href="/pages/components/Toast/toast.html">Toast</a></li>
        </ul>
    </nav>

    <!-- input-image-main wrapper-->
    <main class="inputIm-wrapper comp-box">

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
               <code class="code language-html">
               @import url("https://wildflowerui.netlify.app/pages/components/Input-image/input-image.css");
               <link rel="stylesheet" 
               href="https://wildflowerui.netlify.app/pages/components/Input-image/input-image.css">
               </code>
            </pre>
        </div>
        <!-- code-display-end -->

        <h1 class="comp-h1">Input</h1>
        <h2 class="comp-h2">Examples</h2>
        <h3 class="comp-h3">Expandable search input</h3>
        
        <div class="inputIm-display-wrapper comp-display">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search" aria-label="search">
                <button class="submit-btn"><span class="search-icon material-icons material-icons-outlined search-submit">
                search</span></button>
            </div>
        </div>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
                <code class="code language-html">
                    <div class="search-bar">
                        <input type="text" class="search-input" placeholder="Search" aria-label="search">
                        <button class="submit-btn"><span class="search-icon material-icons material-icons-outlined search-submit">
                        search</span></button>
                    </div>
                </code>
            </pre>
        </div>
        <!-- code-display-end -->

        <h3 class="comp-h3">Validation input</h3>
        
        <div class="inputIm-display-wrapper comp-display">
            <div class="input-section">
                <label for="email-adress" class="input-label">Email address</label>
                <input type="email" class="input-field" placeholder="username@email.com">
            </div>
            <div class="input-section">
                <label for="text" class="input-label">Some Textarea</label>
                <textarea class="input-field input-textarea"rows="3" placeholder="place your content here"></textarea>
            </div>
        </div>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
                <code class="code language-html">
                    <div class="input-section">
                        <label for="email-adress" class="input-label">Email address</label>
                        <input type="email" class="input-field" placeholder="username@email.com">
                    </div>
                    <div class="input-section">
                        <label for="text" class="input-label">Some Textarea</label>
                        <textarea class="input-field input-textarea"rows="3" placeholder="place your content here"></textarea>
                    </div>
                </code>
            </pre>
        </div>
        <!-- code-display-end -->


        <h3 class="comp-h3">Login Form input</h3>
        
        <div class="inputIm-display-wrapper comp-display">
            <div class="tabContent">
                <form class="login form ">
                    <div class="input-wrapper flex-col ">
                        <label for="email" class="text-label ">
                            Email<span class="req-feild">*</span>
                        </label>
                        <input id="email" type="email" class="text-input r">

                        <label for="password" class="text-label ">
                            Password<span class="req-feild">*</span>
                        </label>
                        <input id="password" type="email" class="text-input ">
                        <span class="eye-icon material-icons material-icons-outlined">
                            visibility</span>
        
                    </div>
                    <div class="password-wrapper ">
                        <div class="remeber-box">
                            <input type="checkbox" name="remember-me">
                            Remember Me
                        </div>
                        <div class="forget-box">
                            <a href="#" class="link-btn">Forgot Password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
                <code class="code language-html">
                    <div class="tabContent">
                        <form class="login form ">
                            <div class="input-wrapper flex-col ">
                                <label for="email" class="text-label ">
                                    Email<span class="req-feild">*</span>
                                </label>
                                <input id="email" type="email" class="text-input r">
        
                                <label for="password" class="text-label ">
                                    Password<span class="req-feild">*</span>
                                </label>
                                <input id="password" type="email" class="text-input ">
                                <span class="eye-icon material-icons material-icons-outlined">
                                    visibility</span>
                
                            </div>
                            <div class="password-wrapper ">
                                <div class="remeber-box">
                                    <input type="checkbox" name="remember-me">
                                    Remember Me
                                </div>
                                <div class="forget-box">
                                    <a href="#" class="link-btn">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </code>
            </pre>
        </div>
        <!-- code-display-end -->

        <h1 class="comp-h1">Image</h1>
        <h2 class="comp-h2">Examples</h2>
        <h3 class="comp-h3">Responsive Image</h3>
        <p class="comp-p-small">
            Add the "img-responsive" class to make the image grow and shrink with respect to container.
        </p>

        <div class="inputIm-display-wrapper comp-display">
            <img loading="lazy" src="../../../assets/dji-fpv.jpg" alt="drone" class="img-responsive">
        </div>

    </main>

    <!-- input-image main wrapper end-->
    <script src="../../highlight-custom.js"></script>

</body>

</html>