<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar-Badge</title>
    <link rel="stylesheet" href="../comp-imports.css">
    <link rel="stylesheet" href="toast.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://kit.fontawesome.com/00e65d596a.js" crossorigin="anonymous"></script>

    <!-- highlight.js imports -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="../../../dracula.css">


</head>

<body>
    <div class="logo-head docs-head">
        <a href="/index.html"><img class="logo-header" src="../../../assets/phoenix-logo-3-removebg-preview.png" alt="logo"></a>
        <a href="/index.html">
            <h1 class="lib-name">wildFlower</h1>
        </a>
    </div>
    <nav class="library-nav">
        <h1 class="nav-h1">Getting Started</h1>
        <div class="usage comp-link"><a href="/pages/docs.html">Usage</a></div>
        <h1 class="nav-h1">Components</h1>
        <ul class="components-box">
            <li class="comp-link"><a href="/pages/components/Avatar-badge/avatar-badge.html">Avatar-Badge</a></li>
            <li class="comp-link"><a href="/pages/components/Alert/alert.html">Alert</a></li>
            <li class="comp-link"><a href="/pages/components/Button/button.html">Button</a></li>
            <li class="comp-link"><a href="/pages/components/Cards/cards.html">Cards</a></li>
            <li class="comp-link"><a href="/pages/components/Input-image/input-image.html">Image-Input</a></li>
            <li class="comp-link"><a href="/pages/components/Navigation/navigation.html">Navigation</a></li>
            <li class="comp-link"><a href="/pages/components/Chips/chips.html">Chips</a></li>
            <li class="comp-link"><a href="/pages/components/Tabs/tabs.html">Tabs</a></li>
            <li class="comp-link"><a href="/pages/components/Modal/modal.html">Modal</a></li>
        </ul>
    </nav>

    <main class="toast-wrapper comp-box">
        <h1 class="comp-h1">Toast</h1>

         <!-- code-display -->
        <div class="code-wrapper">
            <pre>
               <code class="code language-html">
               @import url("https://wildFlower.netlify.app/pages/components/Button/button.css");
               <link rel="stylesheet" 
               href="https://wildFlower.netlify.app/pages/components/Button/button.css">
               </code>
            </pre>
        </div>

        <!-- code-display-end -->

        <h2 class="comp-h2">Examples</h2>

        <h3 class="comp-h3">Toast</h3>
        <div class="toast-display-wrapper comp-display">
            <div class="success-toast toast">
                <div class="right-toast">
                    <span class="material-icons">check</span>
                    <div class="toast-messages">
                        <strong>Success Message</strong>
                        <span>success message</span>
                    </div>
                </div>
                <span class="material-icons">clear</span>
            </div>
        </div>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
                <code class="code language-html">
                    <div class="toast-display-wrapper comp-display">
                        <div class="success-toast toast">
                            <div class="right-toast">
                                <span class="material-icons">check</span>
                                <div class="toast-messages">
                                    <strong>Success Message</strong>
                                    <span>success message</span>
                                </div>
                            </div>
                            <span class="material-icons">clear</span>
                        </div>
                    </div>
                </code>
            </pre>
        </div>
        <!-- code-display-end -->

        

    </main>

    <script src="../../highlight-custom.js"></script>
</body>

</html>