<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar-Badge</title>
    <link rel="stylesheet" href="../comp-imports.css">
    <link rel="stylesheet" href="navigation.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/00e65d596a.js" crossorigin="anonymous"></script>

    <!-- highlight.js imports -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="../../../dracula.css">


</head>

<body>
    <div class="logo-head docs-head">
        <a href="/index.html"><img class="logo-header" src="../../../assets/phoenix-logo-3-removebg-preview.png"
                alt="logo"></a>
        <a href="/index.html">
            <h1 class="lib-name">wildFlower</h1>
        </a>
    </div>
    <nav class="library-nav">
        <h1 class="nav-h1">Getting Started</h1>
        <div class="usage comp-link"><a href="/pages/docs.html">Usage</a></div>
        <h1 class="nav-h1">Components</h1>
        <ul class="components-box">
            <li class="comp-link"><a href="/pages/components/Avatar-badge/avatar-badge.html">Avatar-Badge</a></li>
            <li class="comp-link"><a href="/pages/components/Alert/alert.html">Alert</a></li>
            <li class="comp-link"><a href="/pages/components/Button/button.html">Button</a></li>
            <li class="comp-link"><a href="/pages/components/Cards/cards.html">Cards</a></li>
            <li class="comp-link"><a href="/pages/components/Input-image/input-image.html">Image-Input</a></li>
            <li class="comp-link"><a href="/pages/components/Navigation/navigation.html">Navigation</a></li>
            <li class="comp-link"><a href="/pages/components/Chips/chips.html">Chips</a></li>
            <li class="comp-link"><a href="/pages/components/Tabs/tabs.html">Tabs</a></li>
            <li class="comp-link"><a href="/pages/components/Modal/modal.html">Modal</a></li>
            <li class="comp-link"><a href="/pages/components/Toast/toast.html">Toast</a></li>
        </ul>
    </nav>

    <main class="nav-wrapper comp-box">
        <h1 class="comp-h1">Navigation</h1>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
               <code class="code language-html">
               @import url("https://wildflowerui.netlify.app/pages/components/Navigation/navigation.css");
               <link rel="stylesheet" 
               href="https://wildflowerui.netlify.app/pages/components/Navigation/navigation.css">
               </code>
            </pre>
        </div>

        <!-- code-display-end -->

        <p class="comp-p-large">Navigation section provides access to destinations for search,login,other app
            functionalities.</p>
        <h2 class="comp-h2">Examples</h2>

        <h3 class="comp-h3">Responsive Navigation with Menu</h3>
        <div class="nav-display-wrapper comp-display">
            <!-- header-starts -->
            <header class="header ">
                <div class="logo-head-comp flex-vCenter">
                    <a href="#"><img class="logo-img-comp"
                            src="../../../assets/phoenix-logo-3-removebg-preview.png" alt="logo"></a>
                    <a href="#" class="logo-name-comp">LOGO</a>
                </div>
                <input type="checkbox" id="nav-toggle" class="nav-toggle">

                <nav class="catLinks-head">
                    <ul class="d-flex">
                        <li class="cat-item">
                            <a href="/pages/product-listing/products-cat-racing.html"
                                class="cat-link in-block">FPV-RACING</a>
                        </li>
                        <li class="cat-item">
                            <a href="#" class="cat-link in-block">FILM-MAKING</a>
                        </li>
                        <li class="cat-item">
                            <a href="#" class="cat-link in-block">ACCESSORIES</a>
                        </li>
                    </ul>
                </nav>

                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                  </label>

                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Search" aria-label="search">
                    <button class="submit-btn"><span class="search-icon material-icons material-icons-outlined search-submit">
                    search</span></button>
                </div>

                <div class="actions-head flex-vCenter">
                    <a class="user flex-col flex-vCenter">
                        <span class="material-icons material-icons-outlined"> person_outline</span>
                        <span class="actions-title">Profile</span>
                    </a>
                    <a href="#" class="wishlist flex-col flex-vCenter">
                        <span class="material-icons material-icons-outlined">
                            favorite_border</span>
                        <span class="actions-title">Wishlist</span>
                    </a>
                    <a href="#" class="bag flex-col flex-vCenter">
                        <span class="material-icons material-icons-outlined"> shopping_bag</span>
                        <span class="actions-title">Bag</span>
                    </a>
                </div>
            </header>
            <!-- header-ends -->
        </div>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
                <code class="code language-html">
                    <header class="header ">
                        <div class="logo-head-comp flex-vCenter">
                            <a href="#"><img class="logo-img-comp"
                                    src="../../../assets/phoenix-logo-3-removebg-preview.png" alt="logo"></a>
                            <a href="#" class="logo-name-comp">LOGO</a>
                        </div>
                        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        
                        <nav class="catLinks-head">
                            <ul class="d-flex">
                                <li class="cat-item">
                                    <a href="/pages/product-listing/products-cat-racing.html"
                                        class="cat-link in-block">FPV-RACING</a>
                                </li>
                                <li class="cat-item">
                                    <a href="#" class="cat-link in-block">FILM-MAKING</a>
                                </li>
                                <li class="cat-item">
                                    <a href="#" class="cat-link in-block">ACCESSORIES</a>
                                </li>
                            </ul>
                        </nav>
        
                        <label for="nav-toggle" class="nav-toggle-label">
                            <span></span>
                          </label>
        
                        <div class="search-bar">
                            <input type="text" class="search-input" placeholder="Search" aria-label="search">
                            <button class="submit-btn"><span class="search-icon material-icons material-icons-outlined search-submit">
                            search</span></button>
                        </div>
        
                        <div class="actions-head flex-vCenter">
                            <a class="user flex-col flex-vCenter">
                                <span class="material-icons material-icons-outlined"> person_outline</span>
                                <span class="actions-title">Profile</span>
                            </a>
                            <a href="#" class="wishlist flex-col flex-vCenter">
                                <span class="material-icons material-icons-outlined">
                                    favorite_border</span>
                                <span class="actions-title">Wishlist</span>
                            </a>
                            <a href="#" class="bag flex-col flex-vCenter">
                                <span class="material-icons material-icons-outlined"> shopping_bag</span>
                                <span class="actions-title">Bag</span>
                            </a>
                        </div>
                    </header>
                </code>
            </pre>
        </div>
        <!-- code-display-end -->

        
    </main>

    <script src="../../highlight-custom.js"></script>
</body>

</html>