<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../comp-imports.css">
    <link rel="stylesheet" href="modal.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://kit.fontawesome.com/00e65d596a.js" crossorigin="anonymous"></script>

    <!-- highlight.js imports -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="../../../dracula.css">


</head>

<body>
    <div class="logo-head docs-head">
        <a href="/index.html"><img class="logo-header" src="../../../assets/phoenix-logo-3-removebg-preview.png" alt="logo"></a>
        <a href="/index.html">
            <h1 class="lib-name">wildFlower</h1>
        </a>
    </div>
    <nav class="library-nav">
        <h1 class="nav-h1">Getting Started</h1>
        <div class="usage comp-link"><a href="/pages/docs.html">Usage</a></div>
        <h1 class="nav-h1">Components</h1>
        <ul class="components-box">
            <li class="comp-link"><a href="/pages/components/Avatar-badge/avatar-badge.html">Avatar-Badge</a></li>
            <li class="comp-link"><a href="/pages/components/Alert/alert.html">Alert</a></li>
            <li class="comp-link"><a href="/pages/components/Button/button.html">Button</a></li>
            <li class="comp-link"><a href="/pages/components/Cards/cards.html">Cards</a></li>
            <li class="comp-link"><a href="/pages/components/Image-input/image-input.html">Image-Input</a></li>
            <li class="comp-link"><a href="/pages/components/Chips/chips.html">Chips</a></li>
            <li class="comp-link"><a href="/pages/components/Tabs/tabs.html">Tabs</a></li>
            <li class="comp-link"><a href="/pages/components/Modal/modal.html">Modal</a></li>
        </ul>
    </nav>

    <main class="modal-wrapper comp-box">
        <h1 class="comp-h1">Modal</h1>

         <!-- code-display -->
        <div class="code-wrapper">
            <pre>
               <code class="code language-html">
               @import url("https://wildFlower.netlify.app/pages/components/Modal/modal.css");
               <link rel="stylesheet" 
               href="https://wildFlower.netlify.app/pages/components/Modal/modal.css">
               </code>
            </pre>
        </div>

        <!-- code-display-end -->

        <h2 class="comp-h2">Examples</h2>

        <h3 class="comp-h3">Basic Modal</h3>
        <p class="comp-p-small">Click on it to show the modal dialog</p>
        <div class="modal-display-wrapper comp-display">
            <button class="down-btn" id="open">&#8744;</button>
            <div class="modal-container" id="modal-container">
                <div class="modal">
                    <div class="modal-top">
                        <div class="modal-heading">Select Quantity</div>
                        <button id="close" class="btn-round">x</button>
                    </div>
                    <div class="modal-main">
                        <button class="btn-round">1</button>
                        <button class="btn-round">2</button>
                        <button class="btn-round">3</button>
                        <button class="btn-round">4</button>
                        <button class="btn-round">5</button>
                        <button class="btn-round">6</button>
                        <button class="btn-round">7</button>
                        <button class="btn-round">8</button>
                    </div>
                    
                </div>
            </div>              
        </div>

        <!-- code-display -->
        <div class="code-wrapper">
            <pre>
                <code class="code language-html">
                    <button class="down-btn" id="open">&#8744;</button>
            <div class="modal-container" id="modal-container">
                <div class="modal">
                    <div class="modal-top">
                        <div class="modal-heading">Select Quantity</div>
                        <button id="close" class="btn-round">x</button>
                    </div>
                    <div class="modal-main">
                        <button class="btn-round">1</button>
                        <button class="btn-round">2</button>
                        <button class="btn-round">3</button>
                        <button class="btn-round">4</button>
                        <button class="btn-round">5</button>
                        <button class="btn-round">6</button>
                        <button class="btn-round">7</button>
                        <button class="btn-round">8</button>
                    </div>
                    
                </div>
            </div>   
                </code>
            </pre>
        </div>
        <!-- code-display-end -->

    </main>

    <script src="modal.js"></script>
    <script src="../../highlight-custom.js"></script>
</body>

</html>